@use "varibles.scss";
@use "zerostyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.container {
    max-width: 1656px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
