:root {
    --background-color: #101319;
    --primary-color: #58e2b0;
    --surface-color: #161a23;
    --secondary-color: #725df8;
    --text-primary-color: #e5edff;
    --text-secondary-color: #101319;
    --shadow-primary-color: #1e3c3c;
    --shadows-secondary-color: #272d3b;
}
